#navbar {
    display: flex;
    justify-content: space-between;
    height: 36px;
    padding: 15px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

body {
    padding-top: 60px;
    padding-left: 110px;
    padding-right: 110px;
}

#navbar span {
    display:inline-block;
    height: 28px;
}

#navbar img {
    height: 28px;
}

#list {
    padding-left: 15px;
}

#logo {
    padding-left: 18px;
}

#logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    position: relative;
    top: -5px;
    right: 2px;
}

#search {
    height: 35px;
    width: 650px;
    border: 1px solid #cccccc;
    background: #ffffff;
}

#search input {
    font-size: 16px;
    width: 310px;
    height: 25px;
    padding: 5px;
    border: 0px;
    outline: none;
    float: left;
}

#search button {
    width: 64px;
    height: 100%;
    border: none;
    border-left: 1px solid #cccccc;
    float: right;
    outline: none;
}

#search img {
    width: 18px;
    height: 18px;
    padding-top: 4px;
}

#menu {
    padding-right: 15px;
}

#menu a {
    padding: 12px;
}

#player {
    text-align: left;
    padding-top: 10px;
    height: 700px;
}

#player iframe {
    width: 98%;
    height: 100%;
}

#grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#another_video {
    border: 1px solid black;
    margin-top: 10px;
}

#title {
    margin-right: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E0E0E0;
}

#watch {
    display: flex;
    justify-content: space-between;
}

#title h1 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: normal;
}

#watch h2 {
    margin: 0;
    font-size: 15px;
    font-weight: normal;
}

#video_button i{
    padding-left: 15px;
    font-size: 18px;
}

#video_button i span {
    padding-left: 5px;
    font-weight: normal;
}

#description {
    margin-right: 30px;
}

#description_head {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#channel {
    display: flex;
    justify-content: space-between;
}

.circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #000000;
    flex-basis: 60px;
}

#channel_name {
    padding-left: 20px;
}

#channel_name h1{
    margin: 0;
    font-size: 15px;
    font-weight: bold;
}

#channel_name h2{
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
    font-weight: normal;
}

#channel_name p {
    font-size: 15px;
    font-weight: normal;
}

#channel_name h3 {
    font-size: 12px;
    font-weight: normal;
    color: #606060;
}

#description_head button{
    width: 90px;
    height: 40px;
    background: #BE1309;
    color: white;
    border: 0;
    border-radius: 2px;
}