/* Global (변수) */
:root {
    /* Clor */
    --color-light-grey: #E0E0E0;
    --color-grey: #cccccc;
    --color-dark-grey: #606060;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-blue: #3160D3;
    --color-red: #BE1309;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    padding: 15px;
    background-color: var(--color-white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

body {
    padding-top: 60px;
    padding-left: 110px;
    padding-right: 110px;
}

#navbar span {
    display:inline-block;
    height: 28px;
}

#navbar img {
    height: 28px;
}

#list {
    padding-left: 15px;
}

#logo {
    padding-left: 18px;
}

#logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-black);
    position: relative;
    top: -5px;
    right: 2px;
}

#search {
    height: 35px;
    width: 650px;
    border: 1px solid var(--color-grey);;
    background: var(--color-white);;
}

#search input {
    font-size: 16px;
    width: 310px;
    height: 25px;
    padding: 5px;
    border: 0px;
    outline: none;
    float: left;
}

#search button {
    width: 64px;
    height: 100%;
    border: none;
    border-left: 1px solid var(--color-grey);;
    float: right;
    outline: none;
    cursor: pointer;
}

#search img {
    width: 18px;
    height: 18px;
    padding-top: 4px;
}

#menu {
    padding-right: 15px;
}

#menu a {
    padding: 12px;
}

#player {
    text-align: left;
    padding-top: 10px;
    height: 700px;
}

#player iframe {
    width: 98%;
    height: 100%;
}

#grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#title {
    margin-right: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--color-light-grey);
}

#watch {
    display: flex;
    justify-content: space-between;
}

#title h1 {
    margin-top: 20px;
    margin-bottom: 15px;
    /* margin: 20px 0px 15px 0px; */
    /* 위, 오른쪽, 아래, 왼쪽 */
    font-size: 22px;
    font-weight: normal;
}

#watch h2 {
    margin: 0;
    font-size: 15px;
    font-weight: normal;
}

#video_button i{
    padding-left: 15px;
    font-size: 18px;
}

#video_button i span {
    padding-left: 5px;
    font-weight: normal;
}

#description {
    margin-right: 30px;
    border-bottom: 1px solid var(--color-light-grey);
    padding-bottom: 10px;
}

#description_head {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#channel {
    display: flex;
    justify-content: space-between;
}

.circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: var(--color-black);
    flex-basis: 60px;
    cursor: pointer;
}

#channel_name {
    padding-left: 20px;
}

#channel_name h1{
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

#channel_name h2{
    margin: 5px 0px 0px 0px;
    /* 위, 오른쪽, 아래, 왼쪽 */
    font-size: 12px;
    font-weight: normal;
}

#channel_name p {
    font-size: 15px;
    font-weight: normal;
}

#channel_name h3 {
    font-size: 12px;
    font-weight: normal;
    color: var(--color-dark-grey);
    cursor: pointer;
}

#description_head button{
    width: 90px;
    height: 40px;
    background: var(--color-red);
    color: var(--color-white);
    border: 0;
    border-radius: 2px;
    cursor: pointer;
}

#write_comment {
    margin-top: 20px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 0.22fr 3fr;
}

#write_comment input {
    width: 95%;
    height: 80%;
}

#read_comment {
    display: grid;
    grid-template-columns: 0.22fr 3fr;
}

#right_UI {
    margin-top: 10px;
}

#AD1 {
    border-bottom: 1px solid var(--color-light-grey);
    padding-bottom: 10px;
}

#AD1_image{
    text-align: center;
}

#AD1_image img{
    width: 430px;
}

#another_video {
    padding-top: 10px;
}

#AD1_box {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.AD1_logo {
    width: 48px;
    height: 48px;
    background: var(--color-black);
}

#AD1_description {
    margin-left: 10px;
}

#AD1_description h1{
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    text-align: left;
}

#AD1_link{
    display: flex;
    justify-content: space-between;
}

#AD1_link h2{
    margin: 0;
    font-size: 15px;
    font-weight: normal;
    padding-left: 5px;
    padding-right: 20px;
    color: var(--color-dark-grey);
}

.AD_tag {
    width: 30px;
    height: 20px;
    background: #F2C034;
    color: var(--color-white);
    flex-basis: 60px;
    font-size: 13px;
    border-radius: 10%;
    text-align: center;
}

.NULL {
    flex-grow: 1;
}

#AD1 button {
    width: 110px;
    height: 40px;
    background: var(--color-blue);
    color: var(--color-white);
    border: 0;
    border-radius: 2px;
    cursor: pointer;
}

#recommend_video {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-top: 6px;
}

#recommend_description {
    padding-left: 10px;
}

#recommend_description h1{
    margin: 0;
    font-size: 15px;
    font-weight: bold;
}

#recommend_description h2{
    margin: 5px 0px 0px 0px;
    /* 위, 오른쪽, 아래, 왼쪽 */
    font-size: 12px;
    font-weight: normal;
}

#recommend_description h3{
    margin: 5px 0px 0px 0px;
    /* 위, 오른쪽, 아래, 왼쪽 */
    font-size: 12px;
    font-weight: normal;
}

@media(max-width : 1000px) {
    #grid {
        display: block;
    }
    body {
        padding: 10px;
    }
    #recommend_video {
        display: flex;
        justify-content: flex-start;
    }
    #player {
        text-align: left;
        padding-top: 10px;
        height: 500px;
    }
    #AD1_image{
        text-align: left;
    }
    #AD1_box {
        width:430px;
        display: flex;
        justify-content: flex-start;
        margin-top: 10px;
    }
    .NULL {
        flex-grow: 1;
    }
}